<div class="col-cont">
    <div class="container">
        {% if app.request.get('search') %}
            <h1>Серии. Результаты поиска по запросу <span class="highlight">{{ app.request.get('search')|raw }}</span></h1>
        {% else %}
            <h1>Серии ({{ countSeries }})</h1>
        {% endif %}

        <hr class="line">

        <form action="{{ path('series_list') }}" class="form">
            <div class="inputs">
                <input type="text" name="search" placeholder="Искать..">
                <button>Искать</button>
            </div>
        </form>

        {{
        sonata_block_render(
            { 'type': 'series.block.series_list' },
            {
                'items_count' : 10,
                'page': app.request.get('page') ? app.request.get('page') : 1,
                'search' : app.request.get('search', null),
            }
        )
        }}
    </div>
</div>
