<div class="col-cont">
    <div class="container">

        {{
        sonata_block_render(
            { 'type': 'series.block.series_list' },
            {
                'items_count' : 10,
                'page': app.request.get('page') ? app.request.get('page') : 1,
                'search' : app.request.get('search', null),
            }
        )
        }}
    </div>
</div>
