 .quiz{
   background: #faf8f5;
   user-select: none;
   position: relative;
   &-head{
     height:50px;
     background: #edeae4;
     text-align: center;
     padding-top: 10px;
     > div {
       display: inline-block;
       vertical-align: top;
       width: 30px;
       height: 30px;
       margin: 0 5px;
       line-height:30px;
       text-align: center;
       font-size:20px;
       font-family:"PT Serif";
       cursor: default;
       &.answer{
         &-wrong{
           color: #f70000;
         }
         &-right{
           color: #00a22c;
         }
         &-current{
           color: #ffffff;
           background: #bf945b;
         }
         &-unanswered{
           color: rgba(0, 0, 0, 0.19);
         }
       }
     }
   }
   &-body{
     padding: 30px 50px;
     @media screen and (max-width: 480px) {
       padding: 20px;
     }
     &__title{
       text-align: center;
       font-size: 26px;
       line-height: 33px;
       color: #000;
       //font-family:"BaskervilleDisplayPT-Bold";
       font-family: 'BaskervilleDisplayPT-Regular';
       font-weight:100;
       margin: 0 0 20px;
     }
     &__img{
       img{
         display: block;
         margin-left: auto;
         margin-right: auto;
         max-width: 100%;
       }
     }
     &__answers{
       margin: 20px 0 0;
       font-size:0;
       .quiz-answer__wrapper{
         display: inline-block;
         width: 50%;
         padding-right: 10px;
         margin: 10px 0;
         @media screen and (max-width: 550px) {
           width: 100%;
           padding: 0!important;
         }
         &:nth-child(2n){
           padding-right: 0;
           padding-left: 10px;
         }
       }
       .quiz-answer{
         display: inline-block;
         margin:0;
         width: 100%;
         border: 1px solid #000;
         height: 50px;
         font-size:0;
         line-height: 24px;
         text-align: center;
         cursor: pointer;
         color: #141414;
         transition: background .15s, color .15s, border-color .15s;
         &:hover{
           background: #bf945b;
           color: #ffffff;
           border-color: #bf945b;
         }
         &:before{
           content: '';
           display: inline-block;
           width: 0px;
           height:100%;
           vertical-align: middle;
         }
         p{
           display: inline-block;
           padding: 0;
           margin: 0;
           vertical-align: middle;
           font-size: 20px;
         }
         &.answer-correct{
           border-color: #00a22b;
           background: #00a22b;
           color: #ffffff;
         }
         &.answer-wrong{
           border-color: #f80000;
           background: #f80000;
           color: #ffffff;
         }
         &.answer-non{
           opacity:.25;
           color: #141414;
           background: #ffffff;
         }
         &.answer-was-correct{
           border-color: #00a22b;
           background: #ffffff;
           color: rgba(20, 20, 20, 0.25);
         }
         &.with_img{
           height: auto;
           padding: 15px 20px;
           .quiz-answer__img-wrapper{
             margin-bottom: 5px;
             img{
               display: block;
               width:100%;
               max-width: 220px!important;
               margin: 0 auto;
             }
           }
           p{
             width: 100%;
           }
         }
       }
     }
     &__btn{
       margin-top: 30px;
       text-align: center;
       button{
         background: none;
         margin: 0;
         padding: 0;
         border:none;
         text-transform: uppercase;
         font-size:18px;
         font-family: 'BaskervilleDisplayPT-Regular';
         line-height: 21px;
         cursor: pointer;
         color: #000;
         position: relative;
         outline:none;
         &:hover{
           &:after{
             right: -35px;
           }
         }
         &:after{
           content: '';
           position: absolute;
           display: inline-block;
           top:3px;
           width: 25px;
           height: 13px;
           right: -30px;
           transition: right .15s;
           background: url("/bundles/app/i/svg/quiz-arrow.svg") no-repeat center;
         }
       }
     }
     &__share{
       text-align: center;
       margin-top: 50px;
      span{
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 3px;
        text-transform: uppercase;
        font-family:Roboto;
      }
       a{
         display: inline-block;
         padding: 5px;
         margin-left: 10px;
         color: #777777;
         i{
           font-size:18px;
         }
       }
     }
   }
   &.not-started{
     .quiz-body{
       padding: 50px;
       text-align: center;
       @media screen and (max-width: 480px) {
         padding: 20px;
       }
       &__subtitle{
         font-family:Roboto;
         font-size: 14px;
         line-height: 16px;
         text-transform: uppercase;
         letter-spacing: 3px;
       }
       &__title{
         font-size:50px;
         //font-family:"BaskervilleDisplayPT-Bold";
         font-family: 'BaskervilleDisplayPT-Regular';
         font-weight:100;
         line-height: 63px;
         margin-top: 10px;
         @media screen and (max-width: 550px) {
           font-size:30px;
           line-height: 35px;
         }
         @media screen and (max-width: 480px) {
           font-size:20px;
           line-height: 25px;
         }
       }
       &__btn-start{
         text-align: center;
         margin: 50px 0 0 0;
         button{
           height: 50px;
           line-height: 50px;
           background: #bf945b;
           color: #ffffff;
           font-size:18px;
           letter-spacing:2px;
           font-family:Roboto;
           padding: 0 30px;
           border: none;
           outline:none;
           text-transform: uppercase;
           cursor: pointer;
           transition: background .15s, color .15s;
           &:hover{
             background: #000;
             color: #ffffff;
           }
         }
       }
     }
   }
   &.finished{
     .quiz-body{
       padding: 50px;
       text-align: center;
       @media screen and (max-width: 480px) {
         padding: 20px;
       }
       &__subtitle{
         font-family:Roboto;
         font-size: 14px;
         line-height: 16px;
         text-transform: uppercase;
         letter-spacing: 3px;
       }
       &__title{
         font-size:26px;
         //font-family:"BaskervilleDisplayPT-Bold";
         font-family: 'BaskervilleDisplayPT-Regular';
         font-weight:100;
         line-height: 33px;
         margin: 10px 0;
       }
       .result-text{
         font-size: 17px;
         line-height: 28px;
         font-family:"PT Serif";
         margin-bottom:40px;
         text-align: left;
       }
     }
   }
   .loader{
     display: none;
     position: absolute;
     left: 0;
     right:0;
     bottom:0;
     height:3px;
     overflow: hidden;
     &:before{
       display: block;
       position: absolute;
       content: "";
       left: -200px;
       width: 200px;
       height: 3px;
       background-color: #bf945b;
       -webkit-animation: loading 2s linear infinite;
       animation: loading 2s linear infinite;
     }
   }
   &.with-loader{
     .loader{
       display: block;
     }
   }
 }



 @-webkit-keyframes loading {
   from {left: -200px; width: 30%;}
   50% {width: 30%;}
   70% {width: 70%;}
   80% { left: 50%;}
   95% {left: 120%;}
   to {left: 100%;}
 }

 @keyframes loading {
   from {left: -200px; width: 30%;}
   50% {width: 30%;}
   70% {width: 70%;}
   80% { left: 50%;}
   95% {left: 120%;}
   to {left: 100%;}
 }