services:
    share.admin.author:
        class: ShareBundle\Admin\AuthorAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "group.share", label: "group.author_editor" }
        arguments:
            - ~
            - ShareBundle\Entity\Author
            - ShareBundle:ShareAdmin
        calls:
            - [ setTranslationDomain, [ShareBundle] ]

    share.admin.tag:
        class: ShareBundle\Admin\TagAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "group.share", label: "group.tag" }
        arguments:
            - ~
            - ShareBundle\Entity\Tag
            - ~
        calls:
            - [ setTranslationDomain, [ShareBundle] ]