<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="24px" height="34px" viewBox="0 0 24 34" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.4.4 (17249) - http://www.bohemiancoding.com/sketch -->
    <title>Pin</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="Artboard-31" sketch:type="MSArtboardGroup" transform="translate(-748.000000, -378.000000)" fill="#BF945B">
            <path d="M759.512803,378 C753.154606,378 748,383.1561 748,389.5158 C748,389.65214 748.004079,389.79086 748.010197,389.93094 C748.053365,391.14066 748.281438,392.30244 748.669266,393.38942 C751.125394,401.4651 759.512803,412 759.512803,412 C759.512803,412 767.899192,401.46612 770.35566,393.39044 C770.744167,392.30346 770.971901,391.14066 771.014729,389.93094 C771.021527,389.79086 771.025266,389.65248 771.025266,389.5158 C771.025606,383.1561 765.871,378 759.512803,378 L759.512803,378 Z M759.512803,395.15606 C756.398966,395.15606 753.874177,392.63054 753.874177,389.5158 C753.874177,386.4014 756.398966,383.87588 759.512803,383.87588 C762.62698,383.87588 765.151429,386.4014 765.151429,389.5158 C765.151429,392.63054 762.62698,395.15606 759.512803,395.15606 L759.512803,395.15606 Z" id="Pin" sketch:type="MSShapeGroup"></path>
        </g>
    </g>
</svg>