{% import 'AppBundle:Block:_collections_macro.html.twig' as collection %}
{% import 'BannerBundle:Block:_banners_macro.html.twig' as banners %}

{% set collection_url = null %}
{% set collection_title = 'frontend.collections.last_collections'|trans([], 'AppBundle') %}
{% if collection_data is defined and collection_data is not empty %}
    {% set collection_title = 'frontend.collections.other_collections'|trans([], 'AppBundle') ~ ' ' ~ collection_data.designer.translate.name %}
{% endif %}

<div class="content-block">
    {# block banner_990x200 #}
    {% if banner_wide is defined and banner_wide is not empty %}
        <div class="article col-xs-12 article--big with-banner_990-200">{{ banners.banner_content(banner_wide) }}</div>
    {% endif %}
    {# end block banner_990x200 #}

    {% for items in collections %}
        {% if items is not empty %}
            <div class="collections-slider">
                {% if( settings.show_title) %}
                    {% if collection_data is not defined %}
                        {% set item = items|first %}
                        {% set collection_url = collection.collections_category_url(item.category.slug) %}
                        {% set collection_title = item.category.translate.title %}
                    {% endif %}

                    {{ collection.title(collection_title, collection_url) }}
                {% endif %}

                <div class="vogue-slick-wr">
                    <div class="vogue-slick">
                        {% include 'AppBundle:Block:_collections_content.html.twig' %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>