<form action="{{ app.request.attributes.has('type') ? path('search_type', {'type' : app.request.attributes.get('type')}) : path('search') }}" method="GET">
    <span class="search__search-icon">
        {% include "AppBundle:default/svg:search.svg.twig"%}
    </span>

    {% set keywordQuery = app.request.query.get('keyword')|url_decode %}

    <input class="search__input"
           type="text"
           name="keyword"
           {% if keywordQuery %}value="{{ keywordQuery }}"{% endif %}
           placeholder="{{ 'frontend.search.enter_word_for_seach'|trans([], 'AppBundle') }}">

    <a href="#" class="search__close-icon" id="search-close-icon">
        {#{% include "AppBundle:default/svg:close.svg.twig"%}#}
        <span class="close-wrap">
            <span class="close-line close-line1"></span>
            <span class="close-line close-line2"></span>
        </span>
    </a>
</form>