{% if buttons %}
    <div class="icons icons--left">
        {% for button in buttons %}
            <a href="{{ button.groupLink }}" rel="me nofollow" class="icons__item" title="{{ button.name }}" target="_blank"><i class="{{ button.iconClass }}"></i></a>
        {% endfor %}
    </div>
{% endif %}
