<table class="table">
    <tr>
        <td><i aria-hidden="true" class="fa fa-book"></i> 25</td>
        <td class="title"><a href="">ПОЗЫВНОЙ &quot;ЗАЙЧИК&quot; - Кароль Елена</a></td>
    </tr>
    <tr>
        <td><i aria-hidden="true" class="fa fa-book"></i> 25</td>
        <td class="title"><a href="">Невеста темного колдуна. Маски сброшены Наталья Самсонова</a></td>
    </tr>
    <tr>
        <td><i aria-hidden="true" class="fa fa-book"></i> 25</td>
        <td class="title"><a href="">Горничная для некроманта Кристи Кострова</a></td>
    </tr>
    <tr>
        <td><i aria-hidden="true" class="fa fa-book"></i> 25</td>
        <td class="title"><a href="">Франциска Вудворт - Особое условие</a></td>
    </tr>
    <tr>
        <td><i aria-hidden="true" class="fa fa-book"></i> 25</td>
        <td class="title"><a href="">ПОЗЫВНОЙ &quot;ЗАЙЧИК&quot; - Кароль Елена</a></td>
    </tr>
    <tr>
        <td><i aria-hidden="true" class="fa fa-book"></i> 25</td>
        <td class="title"><a href="">Невеста темного колдуна. Маски сброшены Наталья Самсонова</a></td>
    </tr>
    <tr>
        <td><i aria-hidden="true" class="fa fa-book"></i> 25</td>
        <td class="title"><a href="">Горничная для некроманта Кристи Кострова</a></td>
    </tr>
    <tr>
        <td><i aria-hidden="true" class="fa fa-book"></i> 25</td>
        <td class="title"><a href="">Франциска Вудворт - Особое условие</a></td>
    </tr>
    <tr>
        <td><i aria-hidden="true" class="fa fa-book"></i> 25</td>
        <td class="title"><a href="">ПОЗЫВНОЙ &quot;ЗАЙЧИК&quot; - Кароль Елена</a></td>
    </tr>
    <tr>
        <td><i aria-hidden="true" class="fa fa-book"></i> 25</td>
        <td class="title"><a href="">Невеста темного колдуна. Маски сброшены Наталья Самсонова</a></td>
    </tr>
    <tr>
        <td><i aria-hidden="true" class="fa fa-book"></i> 25</td>
        <td class="title"><a href="">Горничная для некроманта Кристи Кострова</a></td>
    </tr>
    <tr>
        <td><i aria-hidden="true" class="fa fa-book"></i> 25</td>
        <td class="title"><a href="">Франциска Вудворт - Особое условие</a></td>
    </tr>
</table>