<table class="table">
    {% for serie in series %}
        <tr>
            <td>
                <i aria-hidden="true" class="fa fa-book"></i> {{ serie.getBooks().count() }}
            </td>
            <td class="title">
                <a href="{{ path('series_books', { 'slug': serie.slug }) }}">{{ replace_highlight(serie.title, app.request.get('search'))|raw }}</a>
            </td>
        </tr>
    {% endfor %}
</table>

{% if series.maxPerPage is defined and series.count > series.maxPerPage %}
    {{ pagerfanta(series, { 'omitFirstPage': true}) }}
{% endif %}