{#{% for image in event.gallery.galleryHasImage %}#}
    {#{{ dump(image.image.path) }}#}
    {#{{ dump(image.image.translate.title) }}#}
    {#{{ dump(image.image.translate.copyright) }}#}
{#{% endfor %}#}

{% block page %}
    <div class="gallery gallery-layout">

        <div class="gallery__btn-wr">
            <span id="one_photo">{% include "AppBundle:default/svg:one_photo.svg.twig"%}</span>
            <span id="all_photo">{% include "AppBundle:default/svg:all_photos.svg.twig"%}</span>
            <a href="{{ path('events', {}) }}">{% include "AppBundle:default/svg:close.svg.twig"%}</a>
        </div>


        <div id="gallery_block">
            {% include "AppBundle:event:_gallery_slider.html.twig"%}
        </div>
        <div id="photo-list_block">
            {% include "AppBundle:event:_gallery_list.html.twig"%}
        </div>


    </div>
{% endblock %}
