services:
    sonata.admin.book:
        class: BookBundle\Admin\BookAdmin
        tags:
          - { name: sonata.admin, manager_type: orm, group: "group.book", label: "group.book_editor" }
        arguments:
          - ~
          - BookBundle\Entity\Book
          - ~
        calls:
          - [ setTranslationDomain, [BookBundle] ]

    sonata.admin.book_has_files:
        class: "BookBundle\\Admin\\BookHasFileAdmin"
        tags:
          - { name: sonata.admin, manager_type: orm, group: 'group.book', label: "group.book_has_file_editor", show_in_dashboard: false }
        arguments:
          - ~
          - "BookBundle\\Entity\\BookHasFile"
          - ~
        calls:
          - [ setTranslationDomain, [BookBundle] ]