services:
    sonata.admin.book:
        class: BookBundle\Admin\BookAdmin
        tags:
          - { name: sonata.admin, manager_type: orm, group: "group.book", label: "group.book_editor" }
        arguments:
          - ~
          - BookBundle\Entity\Book
          - BookBundle:BookAdmin
        calls:
          - [ setTranslationDomain, [BookBundle] ]
          - [ setTemplate, ['edit', 'BookBundle:Admin:edit.html.twig'] ]

    sonata.admin.book_has_files:
        class: "BookBundle\\Admin\\BookHasFileAdmin"
        tags:
          - { name: sonata.admin, manager_type: orm, group: 'group.book', label: "group.book_has_file_editor", show_in_dashboard: false }
        arguments:
          - ~
          - "BookBundle\\Entity\\BookHasFile"
          - ~
        calls:
          - [ setTranslationDomain, [BookBundle] ]

    sonata.admin.book_has_related:
        class: "BookBundle\\Admin\\BookHasRelatedAdmin"
        tags:
          - { name: sonata.admin, manager_type: orm, group: 'group.book', label: "group.book_has_related", show_in_dashboard: false }
        arguments:
          - ~
          - "BookBundle\\Entity\\BookHasRelated"
          - ~
        calls:
          - [ setTranslationDomain, [BookBundle] ]

    sonata.admin.book_info_download:
      class: "BookBundle\\Admin\\BookInfoDownloadAdmin"
      tags:
        - { name: sonata.admin, manager_type: orm, group: 'group.book', label: "group.book_info_download"}
      arguments:
        - ~
        - "BookBundle\\Entity\\BookInfoDownload"
        - ~
      calls:
        - [ setTranslationDomain, [BookBundle] ]