.conference2017{
  .gradient_bg{
    background-image: linear-gradient(to right, #c7b6fc, #b8e7f8 49%, #a6cef4);
    //background-attachment: fixed;
    background-size: 200% 100%;
    -webkit-animation: bgGradient 10s linear infinite;
    -moz-animation: bgGradient 10s linear infinite;
    -o-animation: bgGradient 10s linear infinite;
    animation: bgGradient 10s linear infinite;
  }
  .container{
    max-width: 1030px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
  }
  main{
    padding-top: 90px;
    @media screen and (max-width: $screen-md) {
      padding-top: 90px;
    }
    .container{
      //background: #fff;
    }
  }
  section{
    padding: 35px 0;
  }
  .centered-btn{
    &__btn{
      padding: 0 20px;
      font-size: 17px;
      font-weight: 400;
      font-weight: 500;
      line-height: 50px;
      height:50px;
      background: #000;
      border:none;
      &:hover{
        background: rgba(0, 0, 0, 0.5);
      }
    }
  }
  footer{
    background: rgba(0, 0, 0, 0.05);
    margin-top: 0;
    .footer-soc__icon svg path{
      fill: rgba(0, 0, 0, 0.16);
    }
    .footer-soc__icon svg #facebook{
      fill: rgb(243, 243, 243);
    }
    .footer-soc{
      a{
        display: inline-block;
        width:40px;
        height: 40px;
        margin:0 12px;
        background-size: 100%;
        background-repeat:no-repeat;
        &:nth-child(1){
          background-image: url('/bundles/app/i/conference/fb-logo.svg');
        }
        &:nth-child(2){
          background-image: url('/bundles/app/i/conference/vk-logo.svg');
        }
        &:nth-child(3){
          background-image: url('/bundles/app/i/conference/insta-logo.svg');
        }
        &:nth-child(4){
          background-image: url('/bundles/app/i/conference/pin-logo.svg');
        }
        &:hover{
          opacity:.7;
        }
      }
    }
  }
  .list_conferences{
    padding: 70px 0 20px;
    .section-title {
      margin: 0 0 50px;
      letter-spacing:0;
    }
    .hover_cover_effect{
      content: none;
    }
    .row{
      justify-content: center;
      .article{
        margin:0 0 50px;
      }
    }
    $article: "article";
    .#{$article}{
      margin: 0 auto 50px;
      &__img{
        &:before{
          content: none;
        }
        &:hover{
          .#{$article}__img__src{
            transform: none;
          }
        }
      }
      &__title {
        //font-family:'BaskervilleDisplayPT-Bold', serif;
        font-family: 'BaskervilleDisplayPT-Regular';
        font-weight: 100;
        @media screen and (max-width: 1070px) {
          font-size:16px;
        }
      }
    }
  }
  .top{
    padding-top: 50px;
    margin-top: 0;
    &__logo{
      margin:0;
    }
    &__conference {
      margin: 5px 0 15px 0;
      letter-spacing:6px;
      line-height: normal;
      color:#000;
    }
    &__title{
      font-size:70px;
      line-height: 90px;
      margin-bottom: 20px;
      &__text{
        padding: 0;
      }
    }
    &__title__text:before,
    &__title__text:after{
      content: none;
    }
    &__date{
      text-align: center;
      color: #000;
      line-height:normal;
      margin-bottom: 40px;
      width: 100%;
      font-size: 40px;
      line-height: 52px;
      @media screen and (max-width: 400px){
        font-size: 30px;
        line-height: 42px;
      }
    }
    &__link-right{
        color: #000;
        cursor: pointer;
        font-family: Neutra, Arial, sans-serif;
        font-size: 17px;
        font-weight: 500;
        line-height: 20px;
        text-transform: uppercase;
        transition: all .1s ease-in;
        display: inline-block;
        vertical-align: top;
        position: absolute;
        right: 0;
        top: 15px;
        &:before{
          content: "";
          opacity: 0;
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 100%;
          height: 1px;
          background: $gold;
          transition: all 0.1s ease-in;
        }
        &:hover {
          text-decoration: none;
          color: $gold;
          &:before {
            display: block;
            bottom: -2px;
            opacity: 1;
        }
      }
    }
    @media screen and (max-width: $screen-md) {
      .centered-btn.rel{
        > div {
          width: 100%;
          text-align: center;
          padding-top: 30px;
        }
      }
      &__link-right{
        position: relative;
        display: inline-block;
      }
    }
    @media screen and (max-width: $screen-sm) {
      .top{
        &__conference{
          font-size: 38px;
        }
      }
    }
    @media screen and (max-width: $screen-xs) {
      .top__conference{
        font-size: 30px;
      }
      .centered-btn__btn{
        font-size: 14px;
      }
      &__link-right{
        font-size: 14px;
      }
    }
  }
  header{
    height:90px;
    padding: 10px 30px;
    -webkit-transform: translate3d(0,0,0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-size: 0;
    @media screen and (max-width: $screen-md) {
      position: fixed;
      padding: 10px 20px;
    }
    .border-base{
      @media screen and (max-width: $screen-md) {
        border:none;
      }
    }
    .sponsor-block{
      display: inline-block;
      width: 70px;
      height: 70px;
      background: url('/bundles/app/i/conference/audi-logo.svg') no-repeat center;
      line-height: 70px;
      vertical-align: top;
      margin:0 10px 0 20px;
    }
    .head-promo-logo{
      &.-logo {
        padding: 17px 20px 17px 0;
        svg {
          width: 143px!important;
          height: 36px !important;
          display: block;
        }
      }
    }
    .menu{
      margin:0;
      line-height:70px;
      text-transform: none;
      white-space: nowrap;
      &__item {
        margin: 0 0 0 20px;
        color: #fff;
        &:hover{
          color: rgba(255, 255, 255, 0.5);
          &:before{
            display: none;
          }
        }
        &:before{
          background: rgba(255, 255, 255, 0.5);
          @media screen and (max-width: $screen-md) {
            content: none;
          }
        }
        &.-active{
          &:before{
            display: block;
          }
        }
        @media screen and (max-width: $screen-lg){
          font-size:inherit;
        }
        @media screen and (max-width: $screen-md) {
          margin:0;
          padding: 0 20px;
        }
      }
      @media screen and (max-width: $screen-md) {
        display: none;
      }
      &-sandwich{
        margin-top: 15px;
        @media screen and (max-width: $screen-md){
          vertical-align: top;
          margin-right: 0;
          display: block;
        }
      }
    }
    .lang_switcher{
      position: absolute;
      right:20px;
      top:10px;
      @media screen and (max-width: $screen-md){
        right: 80px;
      }
      a{
        display: inline-block;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 1px;
        color: #FFFFFF;
        font-family: Neutra, Arial, sans-serif;
        line-height: 70px;
        text-decoration: none;
        &:last-child{
          margin-left: 10px;
        }
        &.active{
          text-decoration: underline;
          color: #fff !important;
        }
        &:hover{
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
  .menu_responsive{
    position: fixed;
    width: 218px;
    left: -218px;
    overflow-y: auto;
    top:90px;
    display: block;
    bottom: 0;
    margin: 0;
    background: #000;
    overflow-y: auto;
    z-index:999;
    transition: transform 0.3s ease-in;
    font-family: Neutra, Arial, sans-serif;
    .menu__item{
      color: #FFFFFF!important;
      &:before{
        content: none !important;
      }
    }
    &.-open{
      transform: translateX(218px);
    }
    .lang_switcher{
      padding-left: 22px;
      padding-bottom: 10px;
      a{
        display: inline-block;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 1px;
        color: #FFFFFF;
        &:last-child{
          margin-left:10px;
        }
      }
    }
  }
  .divider{
    background:#000;
    height:1px;
  }
  .section-title{
    margin: 0;
    padding: 0;
  }
  .about_{
    padding: 35px 0 70px;
    position: relative;
    z-index:1;
    text-align: center;
  }
  .experts{
    border:none;
    padding-top: 70px;
    padding-bottom: 55px;
    .gallery{
      .expert{
        margin-top:60px;
        margin-bottom: 20px;
        a{
          color: #000;
          text-decoration: none;
        }
        &__description{
          display: block;
          font-size: 26px;
          line-height: 26px;
        }
        &-centered{
          max-width:270px;
        }
        &__details{
          text-transform: uppercase;
          font-family: Neutra, sans-serif;
          font-size: 15px;
          line-height: 18px;
          letter-spacing: 1px;
          text-align: center;
          margin-top: 20px;
          span{
            text-decoration: none;
            color: #000;
            display: inline-block;
            cursor: pointer;
            &:hover{
              color: rgba(0, 0, 0, 0.5);
            }
          }
        }
        //&:last-child{
        //  .expert__name{
        //    font-size:34px;
        //    color: rgba(0, 0, 0, 0.3);
        //    line-height: 34px;
        //    font-family: Neutra, sans-serif;
        //    font-weight: 500;
        //  }
        //  .expert__details{
        //    display: none;
        //  }
        //}
      }
    }
  }
  .buy-ticket-wr{
    border: none;
    padding-top:0;
    padding-bottom:70px;
    .section-title{
      padding-top:70px;
    }
    .price-list{
      padding:30px 0 10px;
      -webkit-justify-content: center;
      justify-content: center;
      .price{
        margin:30px 50px 0;
        width: 300px;
        &__title{
          color: #000;
          border-bottom: solid 1px;
        }
        .type-list__type{
          width: 54.29235%;
        }
        .type-list__price {
          width: 43.62549%;
        }
      }
    }
    .ticket-link{
      margin-top: 10px;
      text-align: center;
      a{
        font-family: Neutra, sans-serif;
        font-size: 17px;
        font-weight: 500;
        font-style: normal;
        text-decoration: underline;
        display: inline-block;
        color: #000;
        &:hover{
          opacity:.5;
        }
      }
    }
  }
  .contacts-wr{
    padding: 0;
    .section-title{
      top:50px;
    }
    .static-map{
      background: url("http://maps.googleapis.com/maps/api/staticmap?autoscale=2&language=ru&size=640x400&maptype=roadmap&format=png&visual_refresh=true&markers=color:red%7Cshadow:true%7C50.460652,30.525586");
      &.en{
        background: url("http://maps.googleapis.com/maps/api/staticmap?autoscale=2&language=en&size=640x400&maptype=roadmap&format=png&visual_refresh=true&markers=color:red%7Cshadow:true%7C50.460652,30.525586");
      }
    }
    .contacts_responsive{
      display: none;
      text-align: center;
      h3{
        padding: 0;
        font-family: VogueSerifRagular, Arial, sans-serif;
        font-size: 38px;
        font-weight: 100;
        font-family: VogueSerifMedium, Arial, sans-serif;
        margin-bottom: 15px;
      }
      > p {
        font-family: "PT Serif", Arial, sans-serif;
        font-size: 20px;
      }
      div{
        > p{
          span{
            &:first-child{
              display: inline-block;
              width: 230px;
              text-align: right;
            }
          }
        }
      }
      &.en{
        div{
          > p{
            span{
              &:first-child{
                width: 160px;
              }
            }
          }
        }
      }
    }
  }
  .partners{
    padding: 70px 0 0 0;
    &_list{
      font-size: 0;
      padding:50px 0 70px;
      white-space: nowrap;
      @media screen and (max-width: 1050px){
        white-space: normal;
      }
      > a{
        display: inline-block;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin: 0;
        padding: 0;
        vertical-align: middle;
        margin-right:44px;
        @media screen and (max-width: 1050px){
          width: 50%!important;
          background-position: center;
          margin: 0 0 20px!important;
        }
        &:hover{
          opacity: .5;
        }
        &:nth-child(1){
          width: 199px;
          height:67px;
          background-image: url("/bundles/app/i/conference/partners/fairmont.svg");
        }
        &:nth-child(4){
          width: 122px;
          height:30px;
          background-image: url("/bundles/app/i/conference/partners/wgsn.svg");
        }
        &:nth-child(2){
          width: 126px;
          height:83px;
          background-image: url("/bundles/app/i/conference/partners/vogue-cafe.svg");
        }
        &:nth-child(3){
          width: 104px;
          height:36px;
          background-image: url("/bundles/app/i/conference/partners/audi-logo-black.svg");
        }
        &:nth-child(5){
          width: 93px;
          height: 93px;
          background-image: url("/bundles/app/i/conference/partners/kmbs.svg");
        }
        &:nth-child(6){
          width: 124px;
          height:47px;
          background-image: url("/bundles/app/i/conference/partners/suur.svg");
          margin-right: 0;
        }
      }
    }
  }
  .program{
    .section-title{
      margin: 35px auto 60px;
    }
    .schedule__item__time{
      width: 42.29206%;
      &:before{
        right: -7px;
        top: 7px;
        width: 12px;
        height: 12px;
        border:none;
        background: rgba(0, 0, 0, 0.5);
      }
      &:after{
        right: -2px;
        top: 24px;
        width: 2px;
        bottom: -52px;
        background: rgba(0, 0, 0, 0.5);
        @media screen and (max-width: 500px){
          bottom: -32px;
        }
      }
    }
    .schedule__item__description{
      width: 55.62578%;
      padding:3px 10% 0 30px;
    }
  }
  .info-window{
    padding: 41px 50px;
    &__name{
      text-transform: uppercase;
      font-size: 25px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 5px;
      text-align: center;
      font-family: Neutra, sans-serif;
      color: #000000;
      margin: 0 0 30px 0;
    }
    &__title{
      font-weight: 100;
      font-family: VogueSerifMedium, Arial, sans-serif;
      margin-bottom: 15px;
    }
    &__adress{
      font-size: 20px;
      line-height: 26px;
      color: #1a1a1a;
      font-family: "PT Serif";
    }
    &__tel{
      margin: 40px 0 0 0;
      font-size: 25px;
      line-height: 31px;
      text-align: center;
      > div{
        display: inline-block;
        &:first-child{
          margin-right: 60px;
        }
        p{
          margin: 0;
          padding: 0;
          font-family: Neutra, sans-serif;
        }
        p:first-child{
          color: rgba(0, 0, 0, 0.5);
          margin-bottom: 5px;
        }
        p:last-child{
          font-size: 35px;
          font-weight: 500;
          line-height:42px;
        }
      }
    }
  }
  .sponsor-banner{
    margin-top: 50px;
    img{
      display: block;
      width:100%;
      max-width: 100%;
    }
  }
  #baguetteBox-overlay{
    .full-image figure{
      width: auto;
      max-width: 950px;
      padding: 50px;
      vertical-align: middle;
      > div{
        width: 270px;
        float: left;
        text-align: center;
        @media screen and (max-width: 901px){
          float: none;
          width: 100%;
          text-align: center;
        }
        img{
          width:auto;
          height:auto;
        }
        h3{
          font-size:25px;
          line-height: 32px;
          font-weight: 100;
          margin:15px 0 0 0;
          white-space: normal;
        }
        p{
          margin: 10px 0 0 0;
          width: 100%;
          white-space: normal;
          font-family: Neutra, sans-serif;
          font-size: 26px;
          line-height:1;
          font-weight: 100;
        }
      }
      figcaption{
        top:0px;
        left:0;
        width: 100%;
        position: relative;
        padding: 0;
        .expert_block{
          padding-left: 290px;
          @media screen and (max-width: 901px){
            padding-left: 0px;
            margin-top:20px;
          }
          p{
            font-size:20px;
            font-family:"PT Serif";
            margin:0 0 10px 0;
            @media screen and (max-width: 1200px){
              font-size:18px;
            }
          }
        }
      }
    }
    .baguetteBox-button#close-button{
      top:120px;
    }
    .baguetteBox-button svg{
      stroke: initial !important;
    }
  }
  @media screen and (max-width: 1290px){
    header{
      padding:10px;
      .menu__item{
        margin: 0 0 0 10px;
        font-size: 15px;
      }
    }
  }
  @media screen and (max-width: 400px) {
    .list_conferences .section-title{
      font-size: 30px;
      letter-spacing:0;
    }
  }
  @media screen and (max-width: 767px) {
    #baguetteBox-overlay{
      .full-image{
        figure{
          margin-top: 100px;
          vertical-align: top;
          padding: 20px;
          > div{
            p{
              display: none;
            }
          }
          figcaption .expert_block p{
            font-size:16px;
            line-height: 18px;
          }
        }
      }
      .baguetteBox-button#close-button{
        right: 20px;
      }
    }
    .gradient_bg{
      background-attachment:fixed;
    }
    .top__title{
      font-size: 50px;
      line-height: 1;
    }
    .contacts-wr .contacts_responsive h3{
      font-size:28px;
    }
  }
  @media screen and (max-width: 390px) {
    .contacts-wr .contacts_responsive{
      h3{
        font-size: 22px;
      }
      p{
        font-size:18px;
      }
      div > p span{
        display: block !important;
        width: 100% !important;
      }
    }
  }
  @media screen and (max-width: $screen-md) {
    padding-top: 0 !important;
  }
  @media screen and (max-width: $screen-md){
    .contacts-wr{
      margin-top: 35px;
      .section-title{
        top:0;
      }
      .contacts_responsive{
        display: block;
      }
    }
    .static-map-wr{
      margin-top: 35px;
      .static-map{
        background-position: center;
      }
    }

  }
  @media screen and (max-width: 1180px){
    header .menu__item{
      margin: 0 0 0 10px;
      font-size: 14px;
    }
    header .head-promo-logo.-logo svg{
      width: 113px !important;
    }
  }
  @media screen and (max-width: 490px) {
    .experts .gallery .expert{
      margin-top: 30px;
      margin-bottom: 10px;
    }
    .buy-ticket-wr .price-list .price{
      margin: 30px 0 0 0;
    }
    .top__title{
      font-size:30px;
      line-height: 1;
    }
    .about_{
      text-align: left;
    }
    .contacts-wr .contacts_responsive{
      text-align: left;
      padding-left: 20px;
      div > p span:first-child{
        text-align: left;
      }
    }
    .partners_list{
      padding-bottom: 20px;
      > a{
        width: 100% !important;
        margin-bottom: 50px !important;
      }
    }
    header{
      padding: 10px;
      .head-promo-logo.-logo{
        padding-right: 0;
        svg{
          width: 103px !important;
        }
      }
      .lang_switcher{
        right:60px;
      }
      .sponsor-block{
        margin: 0 10px;
      }
    }
  }

}



@-webkit-keyframes bgGradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes bgGradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-o-keyframes bgGradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes bgGradient {
  0%{background-position:30% 50%}
  50%{background-position:70% 50%}
  100%{background-position:30% 50%}
}
