@font-face {
  font-family: Neutra;
  src: url("/bundles/app/fonts/vogue_fonts/Neutra2VogueDisplayTall-Light.otf");
  font-weight: 300;
}
@font-face {
  font-family: Neutra;
  src: url("/bundles/app/fonts/vogue_fonts/Neutra2VogueDisplayTall-Medium.otf");
  font-weight: 400;
}
@font-face {
  font-family: VogueSerifMedium;
  src: url("/bundles/app/fonts/vogue_fonts/VogueSerifCyMedium-Regular.otf");
}
@font-face {
  font-family: VogueSerifMedium;
  src: url("/bundles/app/fonts/vogue_fonts/VogueSerifCyMedium-Regular-Italic.otf");
  font-style: italic;
}
@font-face {
  font-family: VogueSerifRagular;
  src: url("/bundles/app/fonts/vogue_fonts/VogueSerifCyRegular-Regular.otf");
}
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700&subset=latin,cyrillic);

@import "flex-grid-framework";
@import "baguetteBox";
@import "flexboxgrid";

$gold: #ab8f6b;
$gray: #fafafa;
$black: #000;
$header-height: 68px;
$screen-lg: 1170px;
$screen-md: 1000px;
$screen-sm: 700px;
$screen-xs: 500px;


@import "base";
@import "sections/top_menu";
@import "sections/top";
@import "sections/about";
@import "sections/experts";
@import "sections/schedule";
@import "sections/price";
@import "sections/contacts";
@import "sections/partners";
@import "sections/list_conferences";
@import "sections/footer";
@import "sections/with-wide-banner";
@import "conference2017";
