<div class="page-content">
    {{
    sonata_block_render(
        { 'type': 'article.block.service.opinion_list' },
        {
            'page': app.request.get('page') ? app.request.get('page')[2:] : 1,
            'blogger' : blogger,
            'items_count' : 30
        }
    )
    }}
</div>