<div class="page-content">
<h1 class="tag-title">{{ tag }}</h1>
{{
    sonata_block_render(
        { 'type': 'article.block.service.list' },
        {
            'items_count': 16,
            'show_title': 'tag.block.title.all'|trans({'%tag%': tag}, 'ShareBundle'),
            'tag': tag|default,
            'page': app.request.get('page') ? app.request.get('page')[2:] : 1 ,
            'list_type': constant('ArticleBundle\\Block\\ArticleBaseBlockService::TAG_LIST')
        }
    )
}}
</div>