<table border="1">
<tr>
	<td><b>Автор</b></td>
	<td><b>Кол-во материалов</b></td>
	<td><b>Кол-во просмотров</b></td>
	<td><b>Соотношение</b></td>
</tr>
{% for data in statistics  %}
	<tr>
		<td>{{ data.author }}</td>
		<td>{{ data.number }}</td>
		<td>{{ data.views }}</td>
		<td>{{ data.rate }}</td>
	</tr>
{% endfor %}
</table>