<div class="col-cont">
    <div class="comments-items">

        {{
        sonata_block_render(
            { 'type': 'comment.block.last_comments' },
            {
                'items_count' : 30,
                'page': app.request.get('page') ? app.request.get('page') : 1,
            }
        )
        }}

    </div>

</div>