sonata_admin:
    title: book library
    title_logo: /bundles/admin/images/admin_logo.png
    show_mosaic_button: false
    security:
        handler: sonata.admin.security.handler.acl
        information:
            GUEST:    [VIEW, LIST]
            STAFF:    [EDIT, LIST, CREATE]
            EDITOR:   [OPERATOR, EXPORT]
            ADMIN:    [MASTER]
        admin_permissions: [CREATE, LIST, EDIT, DELETE, UNDELETE, EXPORT, OPERATOR, MASTER]
        object_permissions: [VIEW, EDIT, DELETE, UNDELETE, OPERATOR, MASTER, OWNER]

    templates:
        short_object_description: 'MediaBundle:Helper:short-object-description.html.twig'
    options:
        title_mode: single_image

    assets:
        extra_javascripts:
            - bundles/sonatapage/sonata-page.back.min.js
            - bundles/admin/js/textcounter.min.js
            - bundles/admin/js/codemirror/codemirror.js
            - bundles/admin/js/codemirror/autorefresh.js
            - bundles/admin/js/codemirror/css.js
            - bundles/admin/js/codemirror/xml.js
            - bundles/admin/js/codemirror/javascript.js
            - bundles/admin/js/codemirror/htmlmixed.js
        extra_stylesheets:
            - bundles/sonatapage/sonata-page.back.min.css
            - bundles/admin/css/codemirror/codemirror.css


    dashboard:
        groups:
            group.media:
                label: group.media
                label_catalogue: MediaBundle
                icon: <i class="fa fa-files-o"></i>
            group.book:
                label: group.book
                label_catalogue: BookBundle
                icon: <i class="fa fa-book"></i>
            group.genre:
                label: group.genre
                label_catalogue: GenreBundle
                icon: <i class="fa fa-object-group"></i>
            group.series:
                label: group.series
                label_catalogue: SeriesBundle
                icon: <i class="fa fa-list-alt"></i>
            group.share:
                label: group.share
                label_catalogue: ShareBundle
                icon: <i class="fa fa-text-width"></i>
            group.quiz:
                label: group.quiz
                label_catalogue: QuizBundle
                icon: <i class="fa fa-question-circle"></i>
            group.comment:
                label: group.comment
                label_catalogue: CommentBundle
                icon: <i class="fa fa-comment"></i>
            group.order:
                label: group.order
                label_catalogue: OrderBundle
                icon: <i class="fa fa-bell-o"></i>
            sonata_page:
                label: ~
                label_catalogue: SonataPageBundle
                icon: <i class="fa fa-sitemap"></i>
                items:
                    - sonata.page.admin.page
                    - sonata.page.admin.page_redirect
                    - sonata.page.admin.site
                    - sonata.page.admin.site_variables
                    - sonata.page.admin.site_variables_placement

        blocks:
             - { position: center, type: sonata.admin.block.admin_list }