<!-- Add this banner if ads block before is short  -->
<a href="{{ path('lifestyle_spectopic', {spectopic: spectopic.getSlug()}) }}" onclick="_gaq.push(['_trackEvent', 'LS_self_promo', 'click']);" id="horo_link"{% if not settings.show %} style="display: none;"{% endif %}>
	<div class="banner-additional-3">
		<div class="banner-additional-3-bg"></div>
		<div class="banner-additional-3-content">
			<div>
				<h3>{{ spectopic.getTitle() }}</h3>
				<div class="line-single"></div>
				<div class="read-more">{{ 'front.find_out'|trans([], 'ArticleBundle') }} <span>&nbsp;</span></div>
			</div>
		</div>
	</div>
</a>