services:
    series_admin:
        class: SeriesBundle\Admin\SeriesAdmin
        tags:
          - { name: sonata.admin, manager_type: orm, group: "group.series", label: "group.series_editor" }
        arguments:
          - ~
          - SeriesBundle\Entity\Series
          - SeriesBundle:SeriesAdmin
        calls:
          - [ setTranslationDomain, [SeriesBundle] ]