{% if projects %}
    <div class="banner-block banner-block-fullwidth">
        <div class="promo-news owl-carousel">
            {% for project in projects %}
                <div class="promo-news-item">
                    <a href="{{ project.getLink() }}">{{ project.title|raw }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}