{% if banner is not empty %}
    <div class="block">
        <div class="b-ads">
            {{
            sonata_block_render(
                { 'type': 'page.block.site_variable' },
                {
                    'placement': banner
                }
            )
            }}
        </div>
    </div>
{% endif %}