
<p>© {{ 'now'|date('Y') }} {{ 'app.frontend.footer.site_copyright'|trans({}, 'AppBundle') }}</p>
{{
sonata_block_render(
    { 'type': 'page.block.site_variable' },
    {
        'placement': 'footer-counters'
    }
)
}}