<div class="social-likes">
	<amp-social-share type="facebook" data-param-app_id="287336135093920" width="60" height="30" data-param-url="{{ absolute_url(article_path(article)) }}"></amp-social-share>
	<amp-social-share type="twitter" width="60" height="30" data-param-url="{{ absolute_url(article_path(article)) }}"></amp-social-share>
</div>