<header>
    <div class="logo-wr">
        <a href="{{ path('index_multilang')}}" class="logo">
            <!-- <img width="540" src="{{ asset("bundles/app/i/logo.svg") }}" class="white_logo" alt=""> -->
            {% include "AppBundle:Block:logo.svg.twig" %}

        </a>

        <div class="icons icons--left">
            <a href="#" class="icons__item"><i class="fa fa-facebook-square"></i></a>
            <a href="#" class="icons__item"><i class="fa fa-pinterest-p"></i></a>
            <a href="#" class="icons__item"><i class="fa fa-vk"></i></a>
            <a href="#" class="icons__item"><i class="fa fa-instagram"></i></a>
        </div>
        <div class="icons icons--right">
            <a href="#" class="icons__item"><i class="fa fa-lock"></i></a>
        </div>
    </div>
</header>
