<div class="content">
    <div class="container">

        <div class="aside fadeInLeft">
            <div class="back-btn">
                <span></span>
            </div>
            <div class="city main">
                <div class="city-name">Киев</div>
                <div class="city-map">
                    <img src="/projects/discoveredby/i/kyiv.png" alt="">
                </div>
                <div class="city-links">
                    <a href="" class="active">Туризм</a>
                    <a href="">Еда</a>
                    <a href="">Спа</a>
                </div>
            </div>
            <div class="city">
                <div class="city-name">Львов</div>
                <div class="city-map">
                    <img src="/projects/discoveredby/i/lviv.png" alt="">
                </div>
                <div class="city-links">
                    <a href="" class="active">Туризм</a>
                    <a href="">Еда</a>
                    <a href="">Спа</a>
                </div>
            </div>
            <div class="city">
                <div class="city-name">Одесса</div>
                <div class="city-map">
                    <img src="/projects/discoveredby/i/odessa.png" alt="">
                </div>
                <div class="city-links">
                    <a href="" class="active">Туризм</a>
                    <a href="">Еда</a>
                    <a href="">Спа</a>
                </div>
            </div>
        </div>

        <div class="content-wrapper">
            <div class="content-top">
                <h1>Модные маршруты редакции</h1>
                <p class="text-center">Вместе с Mercedes и MasterCard главный редактор Vogue UA Ольга Сушко, бьюти-редактор Алена
                    Пономаренко и digital-редактор Алиса Илиева объехали самые интересные и красивые места Киева, Одессы
                    и Львова. В свои заметках они расскажут о новых барах и ресторанах, необычных прогулочных маршрутах,
                    покажут лучшие SPA-центры Украины и откроют секреты модных путешествий. Каждую неделю – новое видео
                    #DiscoveredByVogue</p>
            </div>
            <div class="content-bottom">
                <div class="valign-wrapper">
                    <div class="city city-kyiv">
                        <a href="/kyiv-travel">
                            <div class="fadeInLeft">
                                <span>Киев</span>
                                <img src="/projects/discoveredby/i/kyiv.png" class="" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="city city-lviv">
                        <a href="javascript:void(0);">
                            <div class="fadeInUp">
                                <span>Львов</span>
                                <img src="/projects/discoveredby/i/lviv.png" class="" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="city city-odessa">
                        <a href="javascript:void(0);">
                            <div class="fadeInRight">
                                <span>Одесса</span>
                                <img src="/projects/discoveredby/i/odessa.png" class="" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
