<header class="header">
    <div class="container">
        <div class="header-wrapper">
            <div class="menu-btn"><span></span></div>
            <div class="header-left">
                Туризм / Еда / SPA
            </div>
            <div class="header-center">
                <a href="/" class="vogue"></a>
                <a href="#" class="mc"></a>
                <a href="#" class="mb"></a>
            </div>
            <div class="header-right">
                <div class="">
                    <a href="https://www.facebook.com/sharer/sharer.php?u=https://vogue.ua" title="Facebook share"
                       class="facebook-share-btn share"></a>
                    <a href="https://twitter.com/share?url=https://vogue.ua;text=Супер вкусный текст и ссылка на ;hashtags=vogueua"
                       class="twitter-share-btn share"></a>
                </div>
            </div>
        </div>
    </div>
</header>
