<div class="socials">
    <span>Поделиться</span>
    <a href="https://www.facebook.com/sharer/sharer.php?u=https://vogue.ua" title="Facebook share"
       class="facebook-share-btn share"></a>
    <a href="https://twitter.com/share?url=https://vogue.ua;text=Супер вкусный текст и ссылка на ;hashtags=vogueua"
       class="twitter-share-btn share"></a>
</div>