<section class="main-col{% if article.isFullWidth is defined and article.isFullWidth %} full-width-container{% endif %}">
    {% block page %}
        {% if article is defined %}
            {% include 'AppBundle::article/show.html.twig' with { 'article': article } %}
        {% endif %}
        {{ sonata_page_render_container('content') }}
    {% endblock %}
</section>
{% if not article.isFullWidth is defined or not article.isFullWidth %}
<aside >
    {{ sonata_page_render_container('sidebar') }}
</aside>
{% endif %}
<section class="bottom-col">
    {% block page_bottom %}
        {{ sonata_page_render_container('bottom_content') }}
    {% endblock %}
</section>