//@font-face {
//  font-family: 'Roboto';
//  src: url('/bundles/app/fonts/vogue_fonts/newfonts/Robotolight.woff2') format('woff2'),
//  url('/bundles/app/fonts/vogue_fonts/newfonts/Robotolight.woff') format('woff'),
//  url('/bundles/app/fonts/vogue_fonts/newfonts/Robotolight.ttf') format('truetype');
//  font-weight: 300;
//  font-style: normal;
//
//}
//@font-face {
//  font-family: 'Roboto';
//  src: local('Roboto'), local('Roboto-Regular'), url('/bundles/app/fonts/vogue_fonts/newfonts/Roboto.woff2') format('woff2'), url('/bundles/app/fonts/vogue_fonts/newfonts/Roboto.woff') format('woff'), url('/bundles/app/fonts/vogue_fonts/newfonts/Roboto.ttf') format('truetype');
//  font-weight: 400;
//  font-style: normal;
//}
//@font-face {
//  font-family: 'Roboto';
//  src: local('Roboto Medium'), local('Roboto-Medium'), url('/bundles/app/fonts/vogue_fonts/newfonts/Robotomedium.woff2') format('woff2'), url('/bundles/app/fonts/vogue_fonts/newfonts/Robotomedium.woff') format('woff'), url('/bundles/app/fonts/vogue_fonts/newfonts/Robotomedium.ttf') format('truetype');
//  font-weight: 500;
//  font-style: normal;
//}
//@font-face {
//  font-family: 'Roboto';
//  src: local('Roboto Bold'), local('Roboto-Bold'), url('/bundles/app/fonts/vogue_fonts/newfonts/Robotobold.woff2') format('woff2'), url('/bundles/app/fonts/vogue_fonts/newfonts/Robotobold.woff') format('woff'), url('/bundles/app/fonts/vogue_fonts/newfonts/Robotobold.ttf') format('truetype');
//  font-weight: 700;
//  font-style: normal;
//}
//@font-face {
//  font-family: 'PT Serif';
//  src: url('/bundles/app/fonts/vogue_fonts/newfonts/pt_serif-web-bold-webfont.woff2') format('woff2'),
//  url('/bundles/app/fonts/vogue_fonts/newfonts/pt_serif-web-bold-webfont.woff') format('woff'),
//  url('/bundles/app/fonts/vogue_fonts/newfonts/pt_serif-web-bold-webfont.ttf') format('truetype');
//  font-weight: bold;
//  font-style: normal;
//
//}
//@font-face {
//  font-family: 'PT Serif';
//  src: url('/bundles/app/fonts/vogue_fonts/newfonts/pt_serif-web-regular-webfont.woff2') format('woff2'),
//  url('/bundles/app/fonts/vogue_fonts/newfonts/pt_serif-web-regular-webfont.woff') format('woff'),
//  url('/bundles/app/fonts/vogue_fonts/newfonts/pt_serif-web-regular-webfont.ttf') format('truetype');
//  font-weight: normal;
//  font-style: normal;
//
//}
//@font-face {
//  font-family: 'Playfair Display';
//  src: url('/bundles/app/fonts/vogue_fonts/newfonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
//  url('/bundles/app/fonts/vogue_fonts/newfonts/playfairdisplay-bold-webfont.woff') format('woff'),
//  url('/bundles/app/fonts/vogue_fonts/newfonts/playfairdisplay-bold-webfont.ttf') format('truetype');
//  font-weight: bold;
//  font-style: normal;
//
//}
//@font-face {
//  font-family: 'Playfair Display';
//  src: url('/bundles/app/fonts/vogue_fonts/newfonts/playfairdisplay-bolditalic-webfont.woff2') format('woff2'),
//  url('/bundles/app/fonts/vogue_fonts/newfonts/playfairdisplay-bolditalic-webfont.woff') format('woff'),
//  url('/bundles/app/fonts/vogue_fonts/newfonts/playfairdisplay-bolditalic-webfont.ttf') format('truetype');
//  font-weight: bold;
//  font-style: italic;
//}
//@font-face {
//  font-family: 'Playfair Display';
//  src: url('/bundles/app/fonts/vogue_fonts/newfonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
//  url('/bundles/app/fonts/vogue_fonts/newfonts/playfairdisplay-regular-webfont.woff') format('woff'),
//  url('/bundles/app/fonts/vogue_fonts/newfonts/playfairdisplay-regular-webfont.ttf') format('truetype');
//  font-weight: normal;
//  font-style: normal;
//
//}
@font-face {
  font-family: Neutra;
  src: url("/bundles/app/fonts/vogue_fonts/Neutra2VogueDisplayTall-Medium.otf");
  font-weight: 400;
}

@font-face {
  font-family: 'BaskervilleDisplayPT-Regular';
  src: url('/bundles/app/fonts/vogue_fonts/BaskervilleDisplayPT.eot');
  src: url('/bundles/app/fonts/vogue_fonts/BaskervilleDisplayPT.eot?#iefix') format('embedded-opentype'),
    url('/bundles/app/fonts/vogue_fonts/newfonts/BaskervilleDisplayPT.woff2') format('woff2'),
    url('/bundles/app/fonts/vogue_fonts/newfonts/BaskervilleDisplayPT.woff') format('woff'),
    url('/bundles/app/fonts/vogue_fonts/newfonts/BaskervilleDisplayPT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
//@font-face {
//  font-family: 'BaskervilleDisplayPT-Regular';
//  src: url('/bundles/app/fonts/vogue_fonts/newfonts/331000_0_0.eot');
//  src: url('/bundles/app/fonts/vogue_fonts/newfonts/331000_0_0.eot?#iefix') format('embedded-opentype'),
//    url('/bundles/app/fonts/vogue_fonts/newfonts/331000_0_0.woff2') format('woff2'),
//    url('/bundles/app/fonts/vogue_fonts/newfonts/331000_0_0.woff') format('woff'),
//    url('/bundles/app/fonts/vogue_fonts/newfonts/331000_0_0.ttf') format('truetype');
//  font-weight: normal;
//  font-style: normal;
//}

@font-face {font-family: 'BaskervilleDisplayPT-Bold';
  src: url('/bundles/app/fonts/vogue_fonts/newfonts/331000_1_0.eot');
  src: url('/bundles/app/fonts/vogue_fonts/newfonts/331000_1_0.eot?#iefix') format('embedded-opentype'),
  url('/bundles/app/fonts/vogue_fonts/newfonts/331000_1_0.woff2') format('woff2'),
  url('/bundles/app/fonts/vogue_fonts/newfonts/331000_1_0.woff') format('woff'),
  url('/bundles/app/fonts/vogue_fonts/newfonts/331000_1_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}