$content-block: 'content-block';
.#{$content-block}{
  background: #ffffff;
  padding: 0 40px;
  margin: 40px 0;

  &--transparent{
    background: none;
    .article.col-xs-4  {
      margin-bottom: 0 !important;
    }
  }
  &--black{
    background: $black;
    .#{$content-block}__title{
      color: $white;
    }
  }
  &__title{
    margin: 0;
    padding: 34px 0;
    font-size: 44px;
    font-family: Neutra, Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 9px;
    font-weight: 300;
    &__link{
      color: $default_title;
      transition: color 0.1s ease;
      &:hover{
        color: $gold;
      }
    }
  }
  &.video-topmain{
    padding-top: 40px;
  }
}



.img_hover_effect{
  //@extend .transform_cubic_effect;
  transform-origin: center top;
  &:hover{
    transform: scale(1.1);
  }
}

@mixin transition_cubic_effect( $type ){
  transform-origin: center top;
  transition: $type 0.3s cubic-bezier(.04,.72,.47,1);
}

.hover_cover_effect{
  &:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000, .3);
    opacity: 0;
    z-index: 111;
    @include transition_cubic_effect( opacity );
  }
}
$article: "article";
.#{$article}{
  text-align: center;
  margin-bottom: 35px;
  &__img{
    position: relative;
    display: inline-block;
    margin:0 auto 10px;
    //@extend .hover_cover_effect;

    &__src{
      display: block;
      max-width: 100%;
      width: 100%;
      //@include transition_cubic_effect( transform );
    }

    &:hover{
      &:before{
        opacity: 1;
      }
      //.#{$article}__img__src{
      //  transform: scale(1.1);
      //}
    }

  }

  &__category{
    display: inline-block;
    font-family: "Roboto", sans-serif;
    color: $default_title;
    text-transform: uppercase;
    font-size: 14px;
    transition: color 0.1s ease;
    letter-spacing: 3px;
    &:hover{
      color: $gold;
    }

  }

  &__title{
    margin: 0;
    padding: 8px 5px 0;
    font-size: 26px;
    line-height: 32px;
    &__link{
      color: $default_title;
      transition: color 0.1s ease;
      &:hover{
        color: $gold;
      }
    }
  }


  &--big{
    margin-bottom: 50px;
    max-width: 1007px;
    .#{$article}__title{
      font-size: 50px;
      line-height: 60px;
    }
    .#{$article}__img{
      max-height: none;
    }
  }
}


.more-btn-wr{
  padding: 17px 0;
  text-transform: uppercase;
  text-align: center;
  border-top: $gray_light solid 2px;
  .more-btn{
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: Neutra, Arial, sans-serif;
    &:hover{
      color: $gold;
    }
  }
}

.content-block{
  &--small{
    .#{$article}__title{
      font-size: 16px;
      line-height: 23px;
    }
  }

  &--short{
    .#{$article}__img{
      height: 180px;
      overflow: hidden;
    }
    .#{$article}--big{
      .#{$article}__img{
        height: auto;
      }
    }
  }

  &--black{
    .def_link_style{
      color: $white;
      &:hover{
        color: $gold;
      }
    }

    .#{$content-block}__title__link,
    .#{$article}__category,
    .#{$article}__title__link{
      @extend .def_link_style;
    }

    .more-btn-wr{
      border-top-color: $border-color ;
      .more-btn{
        @extend .def_link_style;

      }
    }

  }

}
.dark-block {
  .content-block{
    margin-top: 0;
  }
  .post__photo{
    display: block;
    max-width: 990px;
  }
}
.blive-responsive-iframe-wrapper{
  position:relative;
  padding-bottom:56.25%;
  height:0;
  overflow:hidden;
  max-width:100%;
  background:transparent;
  iframe{
    position:absolute;
    top:0;
    left:0;
    margin:0;
    width:100%;
    height:100%;
  }
}