
.magazines-list--wrapper{
  background: #202020;
  padding: 20px 0;
  text-align: center;
  & .magazines-archive-title{
    font-family: Neutra, Arial, sans-serif;
    font-size: 44px;
    letter-spacing: 9px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight:100;
    margin:0 0 20px 0;
    &__link{
      color: #FFFFFF; 
      &:hover{
        color: $gold;
      }
    }
  }
  & .magazines-years-list{
    list-style: none;
    margin: 10px 0 20px;
    padding: 0;
    & li{
      display: inline-block;
      & a{
        display: inline-block;
        font-family: Neutra, Arial, sans-serif;
        font-weight: 100;
        font-size: 14px;
        color: #797979;
        padding: 5px;
        &.active{
          color: #a88e6d;
        }
      }
    }
  }
  & .container > a{
    display: inline-block;
    margin: 0 10px 10px;
    width:auto;
    vertical-align: middle;
    &.active{
      box-shadow: 9px 2px 7px 0 rgba(0, 0, 0, 0.5);
    }
    & img{
      vertical-align: top;
    }
    & p{
      margin:0;
      font-size: 17px;
      font-family: Neutra, Arial, sans-serif;
    }
  }
}
// current magazine poster + description
.current_magazine--wrapper{
  background: #000000;
  padding: 40px;
  color: #ffffff;
  text-align: center;
  position: relative;
  & .current_magazine--date{
    text-align: center;
    font-size: 14px;
    font-family: Neutra, Arial, sans-serif;
    letter-spacing: 3px;
    margin:0;
  }
  & .current_magazine--month{
    font-size: 50px;
    line-height: 63px;
    //font-family: "BaskervilleDisplayPT-Bold";
    font-family: 'BaskervilleDisplayPT-Regular';
    font-weight:100;
    text-align: center;
    margin:0;
    text-transform: capitalize;
  }
  & .current_magazine--poster-big{
    text-align: center;
    margin: 20px 10px 0 0;
    display: inline-block;
    vertical-align: top;
    max-width: 344px;
    & img{
      max-width: 100%;
    }
  }
  & .current_magazine--description {
    margin: 20px 0 0 10px;
    max-width: 344px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    & p{
      margin: 0 0 10px;
      font-size: 15px;
      line-height: 20px;
      font-family: "PT Serif";
      color: #797979;
      & .db{
        display: block;
      }
      & span:first-child{
        text-transform: uppercase;
        color: #bababa;
      }
    }
    .current_magazine--list{
        margin:0;
        padding:0;
        list-style:none;

        li {
          display:inline-block;
          cursor:pointer;
          img {
            vertical-align:middle;
            width:auto;
            height:144px;
          }
        }
        /*li.active {
        }*/
     }

  }
}

.current_magazine--tabs {
   > div {
     display:none;
   }
  > div.active {
    display:block;
  }
}



// in this magazine

.content-block--inline{
  margin-top: 0;
  //& h2{
  //  padding: 0;
  //  margin-bottom: 20px;
  //}
  & article {
    text-align: left;
    font-size: 17px;

    & .article__img{
      float: left;
      width: 30%;
      max-width: 154px;
      margin-right: 20px;
    }
    & .article__category,
    & .article__title,
    & .article__short-description{
      display: block;
      text-align: left;
      margin-left: 174px;
    }

    &.article--big{
      margin-top: 40px;
      margin-bottom: 0;
    }

    & .article__category{
      margin-bottom: 7px;
      margin-top: -4px;
    }
  }
}

//fix grey arrow to magazine active menu
.-grey.menu__item.-active.-has-child:before{
  border-bottom: 15px solid #202020;
}


// fix main menu cursor pointer
.menu__item.-active, .menu--second__item.-active{
  cursor: pointer!important;
}