.slider{
  position: relative;
  width: 100%;
  overflow: hidden;
  &__img-holder{
    background: #FFFFFF;
    position: relative;
  }
  &__slide-block{
    position: relative;
    max-height: 450px;
    white-space: nowrap;
    font-size: 0;
    left: 0;
    transition: transform 0.5s ease;
    //transition: left 0.4s ease-in;
  }
  &__item{
    display: inline-block;
    padding: 0 50px;
    width: 100%;
    text-align: center;
    opacity: 0;
    vertical-align: middle;
    white-space: normal;
    &__img{
      //height: 100%;
      text-align: justify;
      max-height: 450px;
      vertical-align: middle;
    }
  }

  .nav{
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    z-index: 111;
    cursor: pointer;
    &--right{
      right: 20px;
    }
    &--left{
      left: 20px;
    }
    &:hover{
       svg {
         g {
           fill: $gray_text !important;
         }
       }
     }
  }
  &__description{
    color: $gray_text;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    padding: 3px 25px;
    line-height: 20px;
      margin-bottom: 0 !important;
  }
    &__copyright{
        color: $gray_text;
        font-size: 14px;
        font-style: italic;
        text-align: center;
        padding: 3px 25px;
        line-height: 20px;
    }
  svg {
    g{
      transition: all 0.1s ease;
    }
  }
}


.article-detail__text{
  .nav{
    display: none;
  }
  outline:none;
  .slick-arrow{
    width:48px;
    height: 48px;
    position: absolute;
    top:50%;
    margin-top: -24px;
    cursor: pointer;
    z-index: 111;
    background: rgba(255, 255, 255, 0.8);
    transition: background .15s;
    svg{
      width: 28px;
      height:28px;
      position: absolute;
      top:50%;
      margin: -14px 0 0 0;
      g{
        fill: #000;
        transition: fill .15s;
      }
    }
    &.slick-disabled{
      opacity:.2;
    }
    &:not(.slick-disabled):hover{
      background: #000;
      svg {
        g {
          fill: #fff !important;
        }
      }
    }
    &.slick-prev{
      left: 0px;
      text-align:left;
      svg{
        left:10px;
      }
    }
    &.slick-next{
      right: 0px;
      text-align:right;
      svg{
        right:10px;
      }
    }
  }
  .slider__slide-block{
    max-height: 750px;
    @media screen and (max-width:1380px){
      max-height: 500px;
    }
    @media screen and (max-width:800px){
      max-height: 450px;
    }
  }
  .slider__item{
    opacity: 1;
    outline:none;
    padding: 0;
    max-height: 750px;
    //line-height: 750px;
    display: inline-block;
    float: none;
    @media screen and (max-width:1380px){
      max-height: 500px;
      //line-height: 500px;
    }
    @media screen and (max-width:800px){
      max-height: 450px;
      //line-height: 450px;
    }
    img{
      display: inline-block;
      max-width: 100%;
      max-height: 100%;
      @media screen and (max-width:1380px){
        max-height: 500px;
      }
      @media screen and (max-width:800px){
        max-height: 450px;
      }
    }
  }

  .slick-slide img{
    margin: 0 auto;
  }
  .slider__description{
    color: #777;
    font-size:17px;
    line-height: 24px;
    //height:48px;
    overflow: hidden;
    margin: 10px 0;
  }
  .slider__footer{
    position: relative;
    height: 32px;
    text-align: center;
    margin-bottom:20px;
    &__counter{
      display: inline-block;
      line-height: 32px;
      height: 32px;
      color: rgba(0, 0, 0, 0.5);
      font-size: 25px;
      font-family: "PT Serif";
      font-weight: 700;
    }
  }
}
