.vogue-slick {
  .slick-slide {
    padding: 15px;
    .collections__item{
      margin-bottom: 0;
    }
  }
}

.vogue-slick-wr{
  position: relative;
  .slick-prev,
  .slick-next{
    position: absolute;
    top: 50%;
    margin-top: -25px;
    cursor: pointer;
    z-index: 100;
    svg{
      path{
        fill: $black;
        @include transition_cubic_effect(fill);
      }
    }
    &:hover{
      svg{
        path{
          fill: $gold;
        }
      }
    }
  }
  .slick-prev{
    left: -15px;
  }
  .slick-next{
    right: -15px;
  }
}