{% if articles|length %}
    {% spaceless %}
        <div id="maingallery" class="segallery">
            <ul>
                {% for article in articles %}
                    <li>
                        <img src="{{  article.getImage() ? article.getImage().getPath()|get_actual_image('image_300x200', ['main']) : default_article_image|imagine_filter('image_300x200') }}"
                             data-src="{{ article_path(article) }}"
                             data-description="{{ article.title }}"
                             data-img="{{  article.getImage() ? article.getImage().getPath()|get_actual_image('image_928x309', ['big']) : default_article_image|imagine_filter('image_928x309') }}"/>
                    </li>
                {% endfor %}
            </ul></div>
        <script>new SIGallery("#maingallery",{thumbsInside:true,maxHeight:450,autoplay:false,autoplayTimeout:5000});</script>
    {% endspaceless %}
{% endif %}