{% if articles|length %}
    {% spaceless %}
        <div id="rubricgallery" class="segallery">
            <ul>
                {% for article in articles %}
                    <li>
                        <img src="{{  article.getImage() ? article.getImage().getPath()|get_actual_image('image_300x200', ['main']) : ''}}"
                             data-src="{{ article_path(article) }}"
                             data-description="{{ article.title }}"
                             data-img="{{  article.getImage() ? article.getImage().getPath()|get_actual_image('image_610x343', ['main_new']) : ''}}"/>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <script>new SIGallery("#rubricgallery",{thumbsInside:true,maxHeight:450,autoplay:true,autoplayTimeout:5000});</script>
    {% endspaceless %}
{% endif %}
