<article class="tv-page">
    {{
        sonata_block_render({ 'type': 'tv.block.service.tv_video' })
    }}
    {{
        sonata_block_render(
            { 'type': 'article.block.service.list' },
            {
                'items_count': 10,
                'show_paginator': false,
                'show_title': 'app.frontend.actual_themes'|trans([], 'AppBundle'),
                'page': app.request.get('page') ? app.request.get('page')[2:] : 1,
                'category': constant('ArticleBundle\\Block\\ArticleBaseBlockService::TK_UKRAINE_CATEGORY'),
                'list_type': constant('ArticleBundle\\Block\\ArticleBaseBlockService::LARGE_LIST'),
                'see_more_text': 'app.frontend.tv.button_more'|trans([], 'AppBundle'),
                'see_more_href': path('articles_subcategory', {category: 'media/video'}),
                'use_secondary_category': true,
                'item_class': 'b-news-video'
            }
        )
    }}
</article>
<div class="sidebar">
    <div class="sidebar-content">
		{{
            sonata_block_render(
                { 'type': 'article.block.service.list' },
                {
                    'items_count': 6,
                    'category': constant('ArticleBundle\\Block\\ArticleBaseBlockService::VIDEO_CATEGORY'),
                    'show_paginator': false,
                    'list_type': constant('ArticleBundle\\Block\\ArticleBaseBlockService::LARGE_LIST'),
                    'use_secondary_category': true,
                    'item_class': 'b-news-video'
                }
            )
		}}

        <script>var fluidSidebar = new fluidBlock(document.querySelector('.sidebar-content'));</script>
    </div>
</div>
