{% if shortcode_data.expert is defined and shortcode_data.expert != null and shortcode_data.expert.getPhoto() != null %}
	<div class="interviews-block">
		<div class="faces" style="background-image: url('{{ shortcode_data.expert.getPhoto() }}');"></div>
		<div class="txt">
			<div class="title">
				<h3>{{ shortcode_data.expert.getName() }}</h3>
				{% if shortcode_data.expert.getPosition() != '' %}
					<span class="position">{{ shortcode_data.expert.getPosition() }} </span>
				{% endif %}
				{% if shortcode_data.text != '' %}
					<p>{{ shortcode_data.text }}</p>
				{% endif %}
			</div>
		</div>
	</div>
{% endif %}