{% if shortcode_data.ls_text is defined %}
    <div class="figure-alt">{{ shortcode_data.ls_text|raw }}</div>
{% endif %}
{% if shortcode_data.ls_source is defined %}
    <figcaption>{{ shortcode_data.ls_source|raw }}</figcaption>
{% endif %}