<h1>Авторы (21 343)</h1>
<hr class="line">

<ul class="author-filter">
    <li><a href="">Все авторы</a></li>
    <li><a href="">Популярные авторы</a></li>
</ul>

<form action="" class="form">
    <div class="inputs">
        <input type="text" name="author" placeholder="Искать..">
        <button>Искать</button>
    </div>
</form>
<ul class="author-list-letter">
    <li>Авторы на букву</li>
    <li><a href="">А</a></li>
    <li><a href="">Б</a></li>
    <li><a href="">В</a></li>
    <li><a href="">Г</a></li>
    <li><a href="">Д</a></li>
    <li><a href="">Е</a></li>
    <li><a href="">Ж</a></li>
    <li><a href="">З</a></li>
</ul>

<table class="table">
    <tr>
        <td><i aria-hidden="true" class="fa fa-book"></i> 25</td>
        <td class="title"><a href="">ПОЗЫВНОЙ &quot;ЗАЙЧИК&quot; - Кароль Елена</a></td>
    </tr>
    <tr>
        <td><i aria-hidden="true" class="fa fa-book"></i> 25</td>
        <td class="title"><a href="">Невеста темного колдуна. Маски сброшены Наталья Самсонова</a></td>
    </tr>
    <tr>
        <td><i aria-hidden="true" class="fa fa-book"></i> 25</td>
        <td class="title"><a href="">Горничная для некроманта Кристи Кострова</a></td>
    </tr>
    <tr>
        <td><i aria-hidden="true" class="fa fa-book"></i> 25</td>
        <td class="title"><a href="">Франциска Вудворт - Особое условие</a></td>
    </tr>
    <tr>
        <td><i aria-hidden="true" class="fa fa-book"></i> 25</td>
        <td class="title"><a href="">ПОЗЫВНОЙ &quot;ЗАЙЧИК&quot; - Кароль Елена</a></td>
    </tr>
    <tr>
        <td><i aria-hidden="true" class="fa fa-book"></i> 25</td>
        <td class="title"><a href="">Невеста темного колдуна. Маски сброшены Наталья Самсонова</a></td>
    </tr>
    <tr>
        <td><i aria-hidden="true" class="fa fa-book"></i> 25</td>
        <td class="title"><a href="">Горничная для некроманта Кристи Кострова</a></td>
    </tr>
    <tr>
        <td><i aria-hidden="true" class="fa fa-book"></i> 25</td>
        <td class="title"><a href="">Франциска Вудворт - Особое условие</a></td>
    </tr>
    <tr>
        <td><i aria-hidden="true" class="fa fa-book"></i> 25</td>
        <td class="title"><a href="">ПОЗЫВНОЙ &quot;ЗАЙЧИК&quot; - Кароль Елена</a></td>
    </tr>
    <tr>
        <td><i aria-hidden="true" class="fa fa-book"></i> 25</td>
        <td class="title"><a href="">Франциска Вудворт - Особое условие</a></td>
    </tr>
    <tr>
        <td><i aria-hidden="true" class="fa fa-book"></i> 25</td>
        <td class="title"><a href="">ПОЗЫВНОЙ &quot;ЗАЙЧИК&quot; - Кароль Елена</a></td>
    </tr>
    <tr>
        <td><i aria-hidden="true" class="fa fa-book"></i> 25</td>
        <td class="title"><a href="">Невеста темного колдуна. Маски сброшены Наталья Самсонова</a></td>
    </tr>
    <tr>
        <td><i aria-hidden="true" class="fa fa-book"></i> 25</td>
        <td class="title"><a href="">Франциска Вудворт - Особое условие</a></td>
    </tr>
    <tr>
        <td><i aria-hidden="true" class="fa fa-book"></i> 25</td>
        <td class="title"><a href="">ПОЗЫВНОЙ &quot;ЗАЙЧИК&quot; - Кароль Елена</a></td>
    </tr>
    <tr>
        <td><i aria-hidden="true" class="fa fa-book"></i> 25</td>
        <td class="title"><a href="">Невеста темного колдуна. Маски сброшены Наталья Самсонова</a></td>
    </tr>
    <tr>
        <td><i aria-hidden="true" class="fa fa-book"></i> 25</td>
        <td class="title"><a href="">Невеста темного колдуна. Маски сброшены Наталья Самсонова</a></td>
    </tr>
    <tr>
        <td><i aria-hidden="true" class="fa fa-book"></i> 25</td>
        <td class="title"><a href="">Горничная для некроманта Кристи Кострова</a></td>
    </tr>
    <tr>
        <td><i aria-hidden="true" class="fa fa-book"></i> 25</td>
        <td class="title"><a href="">Франциска Вудворт - Особое условие</a></td>
    </tr>

</table>

<div class="pagi-nav">
<span class="navigation"><span>1</span> <a href="https://knigolub.net/page/2/">2</a> <a
            href="https://knigolub.net/page/3/">3</a> <a
            href="https://knigolub.net/page/4/">4</a> <a
            href="https://knigolub.net/page/5/">5</a> <a
            href="https://knigolub.net/page/6/">6</a> <a
            href="https://knigolub.net/page/7/">7</a> <a
            href="https://knigolub.net/page/8/">8</a> <a
            href="https://knigolub.net/page/9/">9</a> <a
            href="https://knigolub.net/page/10/">10</a> <span class="nav_ext">...</span> <a
            href="https://knigolub.net/page/258/">258</a></span>
    <span class="pnext"><a href="https://knigolub.net/page/2/">Вперед</a></span>
</div>