@media screen and (max-width: 1070px){
  .current_magazine--wrapper{
    padding: 20px 10px;
  }
}
@media screen and (max-width: 755px){
  .current_magazine--wrapper{
    & .current_magazine--poster-big{
      margin: 20px 10px;
    }
    & .current_magazine--description{
      margin: 0px 10px 10px;
    }
    & .current_magazine--month{
      font-size: 30px;
      line-height: 40px;
    }
  }
  .content-block--inline{
    & h2{
      font-size: 30px;
      line-height: 40px;
      margin:0;
    }
  }
  .magazines-list--wrapper .magazines-archive-title{
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 5px;
  }
}


@media screen and (max-width: 550px){
  .content-block--inline{
    .article .article__category,
    .article .article__title,
    .article .article__short-description{
      margin-left: 0;
    }
    .article .article__short-description{
      display: none;
    }
  }
}
@media screen and (max-width: 480px){
  .content-block--inline{
    & h2{
      font-size: 20px;
      line-height: 30px;
      margin:0;
    }
    & article{
      & .article__img{
        margin-right: 10px;
      }
      & .article__title a{
        font-size: 16px;
        line-height: 19px;
        display: block;
      }
    }
  }
  .magazines-list--wrapper {
    & .container{
      & .magazines-archive-title {
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 3px;
      }
      & a{
        width: auto;
        margin:0 10px 10px;
        position: relative;
        &.active{
          & img{
            width: 80px;
          }
        }

      }
    }
  }
}