@media screen and (max-width: 670px) {

  .custom-selector-list{
    position: fixed;
    padding-top: 15px;
    padding-bottom: 15px;
    top: 73px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    width: auto;
    height: auto;
    max-height: none;
    z-index: 600;
    border: $black solid 2px;

    &__link{
      padding-top: 7px;
      padding-bottom: 7px;
      display: inline-block;
    }
  }
  .custom-selector-list-cover{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba( #000, .8);
    z-index: 300;

    &__close{
      position: fixed;
      width: 50px;
      height: 50px;
      top: 90px;
      right: 50px;
      color: $black;
      font-size: 40px;
      font-family:Roboto, sans-serif;
      z-index:700;
      svg{
        path{
          stroke: $black;
          fill: $black;
        }
      }
    }
  }


  header{
    //.logo{
    //  position: absolute;
    //  left: 82px;
    //}
    .icons__item{
      margin: 0  0 0 3px;
      font-size: 15px;
    }
    &.with_timer{
      .timer_block{
        font-size: 15px;
        .timer{
          &_text{
            letter-spacing: 1.5px;
          }
        }
        .timer_time{
          width: 15px;
        }
        .timer_item{
          margin-right: 5px;
          &:last-child{
            width:40px;
            margin-right: 0;
          }
        }
      }
    }
  }


  .content-block__title{
    font-size: 28px;
  }


  footer{
    .container{
      padding: 15px;
      .row{
        margin: 0;
      }
    }
  }
  .footer-menu{
    padding-left: 0;
    margin-bottom: 25px;
  }
  .copyright{
    padding: 0;
  }

  .post__photo--big-title .text__photo__main-title{
    font-size: 25px;
    line-height: 25px;
    padding-bottom: 15px;
  }


  .post__photo__img-bg{
    height: 250px;
  }

  .footer-menu__title{
    text-align: center;
  }
  .footer-menu .col-sm-12 {
    width: 100%
  }
  .footer-menu__link{
    width: 50%;
    float: left;
    text-align: center;
  }
  .conenast-logo{
    display: block;
    margin: 0 auto 25px;
  }

  $adaptive_menu_width: 200px;
  .menu-wr-mob{

    //left: -$adaptive_menu_width * 2;
    //width: $adaptive_menu_width * 2;
    .menu{
      &--main{
        //width: $adaptive_menu_width;
      }
      &--submenu{
        //width: $adaptive_menu_width;
      }

      &__items-wr{
        //width: $adaptive_menu_width;
      }
    }
  }

} //@media 672px

@media screen and (max-width: 400px) {
  .wr header{
    height:50px;
    .logo-wr{
      padding: 15px 0 0 0;
    }
    .icons{
      margin: 0;
    }
    .logo{
      //position: absolute;
      //left: 90px;
      //margin-top: 3px;
      svg{
        height: 20px;
        width: 80px;
      }
    }
  }


  //$adaptive_menu_width: 200px;
  $adaptive_menu_width: 160px;
  .menu-wr-mob{

    //left: -$adaptive_menu_width * 2;
    //width: $adaptive_menu_width * 2;
    .menu{
      &--main{
        width: $adaptive_menu_width;
      }
      &--submenu{
        width: $adaptive_menu_width;
      }

      &__items-wr{
        width: $adaptive_menu_width;
      }
    }
  }
}

.article__img{
  @media screen and (max-width: 380px) {
    width: 100%;
  }
}

@media screen and (max-width: 475px) {
  header{
    &.with_timer{
      .timer_block{
        .timer,
        .timer_text{
          display: block;
          float: none;
          line-height: 1;
          width: 100%;
          text-align: center;
        }
        .timer{
          font-size: 17px;
          margin-top: 5px;
          &_text{
            margin-top: 8px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 479px) {
  .bottom-col {
    .content-block {
      &__title{
        font-size: 20px;
        strong{
          font-size: 30px;
          display: block;
        }
      }
    }
  }
}
