<div class="section-title section-tag-title">
    <h1>#&nbsp;{{ tag }}</h1>
</div>
{{
    sonata_block_render(
        { 'type': 'article.block.service.list' },
        {
            'items_count': 20,
            'skin': 'lifestyle',
            'show_title': 'tag.block.title.all'|trans({'%tag%': tag}, 'ShareBundle'),
            'tag': tag|default,
            'category': category|default,
            'page': app.request.get('page') ? app.request.get('page')[2:] : 1,
            'list_type': constant('ArticleBundle\\Block\\ArticleBaseBlockService::TAG_LIST')
        }
    )
}}

{{
    sonata_block_render(
        { 'type': 'article.block.service.list' },
        {
            'items_count': 16,
            'skin': 'lifestyle',
            'popular': true,
            'category': category|default,
            'show_paginator': false,
            'list_type': constant('ArticleBundle\\Block\\ArticleBaseBlockService::POPULAR_LIST')
        }
    )
}}