{# index.twig #}
{% extends "AppBundle:default/layout:layout_white.html.twig" %}

{% block page %}

<div class="container">


    {% set article_list = [
        {tags:[{title:'подиум', link: '#' },{title:'Клуб', link: '#' },{title:'Пати', link: '#' } ], title: 'Главные сериалы осени Длинный заголовок', img: 'bundles/app/i/tmp/event/section.jpg', date: '12 сентября 2015', description: 'Неделя моды в Милане открылась одним из самых ожидаемых шоу - Gucci. Посмотреть на вторую сезонную коллекцию нового креативного директора марки Алессандро Микеле собрались его самые верные поклонницы - аристократка Шарлотта Казираги, актрисы Сальма Хайек и Дакота Джонсон, модель Карен Элсон и журналистка Алекса Чанг. Естественно, что девушки выбрали наряды авторства Микеле и на собственном примере доказали, что предложенный им подиумный образ девушки-интеллектуалки, это всего лишь правильный стайлинг, а не прямое руководство к действию. '},
        {tags:[{title:'подиум', link: '#' },{title:'Клуб', link: '#' },{title:'Пати', link: '#' } ], title: 'Неделя моды в Париже: The Row, Rochas и Dries Van Noten', img: 'bundles/app/i/tmp/event/1.jpg', date: '12 сентября 2015', description: 'Неделя моды в Милане открылась одним из самых ожидаемых шоу - Gucci. Посмотреть на вторую сезонную коллекцию нового креативного директора марки Алессандро Микеле собрались его самые верные поклонницы - аристократка Шарлотта Казираги, актрисы Сальма Хайек и Дакота Джонсон, модель Карен Элсон и журналистка Алекса Чанг. Естественно, что девушки выбрали наряды авторства Микеле и на собственном примере доказали, что предложенный им подиумный образ девушки-интеллектуалки, это всего лишь правильный стайлинг, а не прямое руководство к действию. '},
        {tags:[{title:'подиум', link: '#' },{title:'Клуб', link: '#' },{title:'Пати', link: '#' } ], title: 'Обзор коллекции Christian Dior весна-лето 2016', img: 'bundles/app/i/tmp/event/2.jpg', date: '12 сентября 2015', description: 'Неделя моды в Милане открылась одним из самых ожидаемых шоу - Gucci. Посмотреть на вторую сезонную коллекцию нового креативного директора марки Алессандро Микеле собрались его самые верные поклонницы - аристократка Шарлотта Казираги, актрисы Сальма Хайек и Дакота Джонсон, модель Карен Элсон и журналистка Алекса Чанг. Естественно, что девушки выбрали наряды авторства Микеле и на собственном примере доказали, что предложенный им подиумный образ девушки-интеллектуалки, это всего лишь правильный стайлинг, а не прямое руководство к действию. '},
        {title: 'В Украине покажут новый спектакль с Бенедиктом Камбербэтчем', img: 'bundles/app/i/tmp/event/3.jpg', date: '12 сентября 2015'},
        {title: '5 самых говорящих вещей осени', img: 'bundles/app/i/tmp/event/4.jpg', date: '12 сентября 2015'},
        {tags:[{title:'подиум', link: '#' },{title:'Клуб', link: '#' },{title:'Пати', link: '#' } ], title: 'Обзор коллекции Balmain весна-лето 2016', img: 'bundles/app/i/tmp/event/5.jpg', date: '12 сентября 2015', description: 'Неделя моды в Милане открылась одним из самых ожидаемых шоу - Gucci. Посмотреть на вторую сезонную коллекцию нового креативного директора марки Алессандро Микеле собрались его самые верные поклонницы - аристократка Шарлотта Казираги, актрисы Сальма Хайек и Дакота Джонсон, модель Карен Элсон и журналистка Алекса Чанг. Естественно, что девушки выбрали наряды авторства Микеле и на собственном примере доказали, что предложенный им подиумный образ девушки-интеллектуалки, это всего лишь правильный стайлинг, а не прямое руководство к действию. '},
        {tags:[{title:'подиум', link: '#' },{title:'Клуб', link: '#' },{title:'Пати', link: '#' } ], title: 'Необычное дефиле Rick Owens', img: 'bundles/app/i/tmp/event/section.jpg', date: '12 сентября 2015', description: 'Неделя моды в Милане открылась одним из самых ожидаемых шоу - Gucci. Посмотреть на вторую сезонную коллекцию нового креативного директора марки Алессандро Микеле собрались его самые верные поклонницы - аристократка Шарлотта Казираги, актрисы Сальма Хайек и Дакота Джонсон, модель Карен Элсон и журналистка Алекса Чанг. Естественно, что девушки выбрали наряды авторства Микеле и на собственном примере доказали, что предложенный им подиумный образ девушки-интеллектуалки, это всего лишь правильный стайлинг, а не прямое руководство к действию. '}
    ] %}

    {% set params = {
        'article_list': article_list,
        'block_style_bg': 'content-block--transparent',
        'block_style_dark': true,
        'block_style_more_btn': true
    } %}

    {% include "AppBundle:Block:events.html.twig" with {'params': params} %}


</div>
{% endblock %}



