{# index.twig #}
{% extends "AppBundle:default/layout:layout_white.html.twig" %}

{#
    {% set params = {
        'article_list': article_list,  ( article content from array )
        'block_style_bg': 'content-block--transparent' / 'content-block--black' / not determined - set white bg
        'block_style_dark': true / false  make first article in array on dark bg
        'block_style_cols_type': 'content-block--small' / 'content-block--short /  not determined - set 3 article in row
        'block_style_title': 'Some Text' : if determined - show category title
        'block_style_big_img': true : if determined - set first article in block full width
        'block_style_more_btn': true : if determined - show btn Load More
    } %}
#}

{% block page %}
    <div class="container">
        {{ sonata_page_render_container('content') }}
    </div>
{% endblock %}
