<div class="gallery-layout__description">
    <a href="/">
        {% include "AppBundle:Block:logo.svg.twig" %}
    </a>
    <h1 class="gallery__title">{{ collection.translate.title }}</h1>
</div>
<div class="clearfix"></div>
<div class="gallery-list row middle-xs">

    {% if collection.gallery and collection.gallery.galleryHasImage %}
        {% for item in collection.gallery.galleryHasImage %}
            <div class="col-xs-2 gallery-list__item">
                <div class="gallery-list__item__img-wr">
                    <img class="gallery-list__item__img" src="{{ item.image.path|imagine_filter('gallery_x315') }}">
                </div>
            </div>
        {%  endfor %}
    {% endif %}
</div>
