
.contacts-wr{
  height: 650px;
  position: relative;
  .section-title{
    position: absolute;
    top: 0;
    text-align: center;
    left: 0;
    width: 100%;
    z-index: 100;
  }
}
#map{
  height: 100%;
}

.static-map-wr{
  position: relative;
  display: none;
  margin: 0 auto;
  max-width: 640px;
  height: 400px;

  .centered-btn__btn{
    position: absolute;
    bottom: 15px;
    left: 15px;
  }
}
.static-map{
  height: 100%;
  background-image: url(http://maps.googleapis.com/maps/api/staticmap?autoscale=2&size=640x400&maptype=roadmap&format=png&visual_refresh=true&markers=icon:http://flor-master.com/pin.png%7Cshadow:true%7C50.460652,30.525586);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}


.info-window{
  text-align: center;
  padding: 30px 50px;
  &__star{
    svg{
      width: 24px;
      height: 24px;
    }
  }
  &__title{
    margin:  10px 0 20px;
    padding: 0;
    font-family: VogueSerifRagular, Arial, sans-serif;
    font-size: 38px;
  }
  &__address{
    font-family: "PT Serif", Arial, sans-serif;
    font-size: 20px;
  }
  &__tel{
    margin-top: 30px;
    font-size: 52px;
    font-weight: 400;
    font-family: Neutra, Arial, sans-serif;
  }
}

@media screen and (max-width: $screen-md){
  .contacts-wr{
    height: auto;
    .section-title{
      position: relative;
      width: auto;
    }
  }
  #map{
    display: none;
  }
  .static-map-wr{
    display: block;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: $screen-xs){
  .static-map-wr{
    .centered-btn__btn {
      left: 15px;
      right: 15px;
      text-align: center;
    }
  }
}


