footer{
  margin-top: 50px;
  padding: 90px 0;
  background: $gray;
}
.footer-soc{
  text-align: center;
  &__icon{
    cursor: pointer;
    margin: 0 10px;
    svg{
      width: 40px;
      height: 40px;
      path{
        fill: #D5D5D5;
      }
      #facebook{
        fill: $gray;
      }
    }

    &:hover{
      svg{
        path{
          fill: #848484;
        }
      }
    }
  }
}