.schedule-wr{
  background: $gray;
  border-top: $gray solid 1px;
}
.schedule__item{
  @extend %row;
  $schedule-padding: 50px;
  padding-bottom: $schedule-padding;
  &:last-child{
    .schedule__item__time {
      &:after {
        display: none;
      }
    }
  }

  &__time{
    @extend %col-4;
    position: relative;
    text-align: right;
    padding-right: 40px;
    font-size: 40px;
    font-family: Neutra, Arial, sans-serif;
    &:before{
      content: "";
      position: absolute;
      right: -12px;
      top: 2px;
      width: 12px;
      height: 12px;
      background: $gold;
      border: $gray solid 5px;
      border-radius: 50%;
      z-index: 60;
    }
    &:after{
      content: "";
      position: absolute;
      right: -2px;
      top: 10px;
      width: 2px;
      bottom: -$schedule-padding;
      background: $gold;
      z-index: 30;
    }

    &__position{
      position: relative;
      top: -12px;
    }
  }
  &__description{
    @extend %col-8;
    padding: 5px 20% 0 30px;
    &__name{
      padding-bottom: 7px;
      font-size: 18px;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-family: Neutra, Arial, sans-serif;
    }
    &__title{
      font-size: 30px;
      line-height: 36px;
      &_without_name{
        margin-top: -11px;
      }
    }
    &__text{
      opacity: .7;
      margin-top: 10px;
      font-size: 17px;
    }
    &__pdf{
      display:inline-block;
      font-family: Neutra, Arial, sans-serif;
      font-size: 26px;
      padding-top:8px;

      img {
        vertical-align:top;
        margin:2px 8px 0 0;
      }
    }
  }
}


@media screen and (max-width: $screen-sm){
  .schedule__item{
    &__description{
      padding-right: 40px;
      &__title{
        font-size: 24px;
        line-height: 30px;
      }
      &__text{
        display: none;
      }
    }
  }
}

@media screen and (max-width: 650px ){
  .schedule__item__time{
    font-size: 26px;
  }
  .schedule__item__time__position{
    top:-6px;
  }
  .schedule__item__description{

  }
  .schedule__item__description__title_without_name{
    margin-top: -9px;
  }
}


@media screen and (max-width: $screen-xs){
  .schedule__item{
    padding-bottom: 30px;
    &__time{
      padding-right: 20px;
      font-size: 18px;
      &__position{
        top: 2px;
      }
    }
    &__description{
      padding-left: 20px;
      padding-right: 20px;
      &__name{
        font-size: 14px;
        letter-spacing: normal;
      }
      &__title{
        font-size: 20px;
        line-height: normal;
        margin-top: -6px;
      }
    }
  }
}
