<div class="side-item">
    <div class="side-title icon-left"><i class="fa fa-bookmark-o"></i>Самые популярные книги</div>
    <div class="side-cont">
        {% for book in books %}
            <a class="side-book" href="{{ path('book_view', { 'slug': book.slug, 'id': book.id }) }}">
                <div class="side-book-img img-box">
                    <img src="{{ asset(book.poster.path) }}"
                         alt="{{ book.name }}"/>
                </div>
                <div class="side-book-title">{{ book.name }}</div>
            </a>
        {% endfor %}
    </div>
</div>