.wr {
    $container-width: 1030px;
    &.-branding {
        max-width: $container-width;
        margin: 0 auto;
        background: #fff;
        position: relative;
        .container {
            max-width: $container-width;
        }
        .content-block,
        .static-page {
            padding: 0 20px;
        }
    }
}
