header{
  position: relative;
  background: $black;
  z-index: 200;
  border-bottom: thin solid #f1f1f1;
  .logo-wr{
    position: relative;
    padding: 27px 0;
    margin: 0 auto;
    max-width: 990px;
    text-align: center;
    .header-subscribe{
      position: absolute;
      display:none;
      right: 0;
      top: 65px;
      height: 95px;
      width: 187px;
      overflow: hidden;
      &__poster{
        float: left;
        width: 73px;
        height: 95px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0 100%;
      }
      &__txt-wrap{
        padding: 0;
        margin: 0 0 0 82px;
      }
      &__txt{
        padding: 0;
        margin: 0;
        text-align: left;
        font-size: 14px;
        &--italic{
          font-style: italic;    line-height: 12px;
          font-size: 12px;
          display: block;
        }
      }
      &__btn{
        display: inline-block;
        margin-top: 10px;
        width: 105px;
        height: 24px;
        line-height: 24px;
        color: #000;
        border: thin solid #777;
        text-transform: uppercase;
        font-size: 11px;
        font-family: 'BaskervilleDisplayPT-Regular';
        font-weight: bold;
        letter-spacing: .5px;
        transition: color .3s;
        &:hover {
          color: #BB8F56;
        }
      }
    }
  }
  .logo{
    display: inline-block;
    margin: 0 auto;
    max-width: 406px;
  }
  .fash-logo {
    background:url("/bundles/app/i/fash/fashion_white.png") no-repeat 0 0;
    display:inline-block;
    width:150px;
    height:140px;
    margin:0 -165px 0 10px;
  }
}
.homepage header .header-subscribe {
  display: block;
}
.theme--white{
  header{
    background: #ffffff;
    svg {
      g {
        fill: black !important;
      }
    }

    .fash-logo {
      background-image:url("/bundles/app/i/fash/fashion_black.png");
    }
  }
}

.container{
  margin-left: auto;
  margin-right: auto;
  max-width: 1072px;
}

.container-small{
  margin-left: auto;
  margin-right: auto;
  max-width: 990px;
  margin-top: 40px;
}


footer{
  background: $black;
  padding-bottom: 25px;
  overflow: hidden;
  .container{
    padding-left: 40px;
    padding-right: 40px;
  }
}

main{
}
.main-col{
  display: inline-block;
  max-width: 625px;
  width: 620px;
  margin-top: 0;
  margin-right: 45px;
  vertical-align: top;

}

aside{
  display: inline-block;
  width: 320px;
  vertical-align: top;
}

.copyright{
  //width: 50%;
  //float: left;
  color: $gray_text;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}



//styles for admixer
.admixer-block{
  position: fixed;
  top: 0px;
  width: 1021px;
  height: 100%;
  z-index: 111;
  left: 50%;
  &.-left{
    margin-left: -1557px;
  }
  &.-right{
    margin-left: 536px;
  }
}

.bottom-col{
  .content-block{
    margin: 0;
    padding: 0;
    &__title{
      padding-top: 0;
      letter-spacing: 9px;
      strong {
        font-size:50px;
        letter-spacing:2px;
        font-family:FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
      }
    }
  }
}



.language_switcher{
  position: absolute;
  top: 27px;
  right: 0;
  font-size: 0;
  a{
    font-family: Neutra, Arial, sans-serif;
    color: #888;
    font-size: 15px;
    letter-spacing:1px;
    line-height: 16px;
    &:last-child{
      margin-left: 7px;
    }
    &.active{
      color: #000;
    }
  }
}

.bodyshadow {
  display: none;
}

/*body.m-menu-opened {
  .bodyshadow {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    z-index: 1000;
  }
}*/

@media screen and (max-width: 1070px){
  .wr {}
}
@media screen and (max-width: 830px){
  .wr header{
    height:55px;
    .icons{
      position: static !important;
      margin-top: 10px;
    }
    .header-subscribe{
      display: none;
    }
  }
}