$site_width: 1024px;
$black: #111111;
$gray: #333333;


$white: #fff;
$default_bg: #f6f6f6;
$gray_text: #777777;

$gray_light: #dddddd;

$default_color: #000000;

$default_title: #141414;
$gold: #BB8F56;

$border-color: #414141;

